/* Global Styles */
:root {
    --primary-color: #4CAF50;
    /* Green */
    --secondary-color: #333;
    /* Dark Gray */
    --accent-color: #FFC107;
    /* Yellow */
    --background-color: #f9f9f9;
    --text-color: #333;
    --font-family-heading: 'Roboto', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-family-body);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: var(--font-family-heading);
    color: var(--primary-color);
}

main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

ul,
ol {
    margin-left: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 1rem;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}